* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.reviewCard {
  display: flex;
  width: 100%;
  padding: 10px 0;
}
.reviewCard .reviewLeft {
  width: 20%;
  padding: 3px;
  max-width: 100px;
  margin-right: 5px;
}
.reviewLeft > .img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.reviewLeft > .img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.reviewCard .reviewRight {
  width: 80%;
  padding: 3px 3px 10px 3px;
  border-bottom: 1px solid rgb(203, 201, 201);
}

.username {
  font-weight: 900;
  font-size: 1.1rem;
}
.reviewDate {
  color: gray;
  margin-top: 2px;
}
.comment {
  font-family: Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.1rem;
  padding: 3px 0;
  font-weight: "normal";
}
@media screen and (max-width: 400px) {
  .reviewCard {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .reviewLeft {
    min-width: 270px;
  }
  .reviewRight {
    min-width: 270px;
  }
}
