@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300&family=Roboto&display=swap");
.productComponentWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}
.productsList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  justify-content: space-evenly;
  min-height: 70vh;
  gap: 10px;
}

@media screen and (max-width: 800px) {
  .productsList {
    a {
      max-width: 100%;
      width: 100%;
      min-width: 300px;
      color: #2a6c45;
      .card {
        flex-direction: row;
        .productImg {
          width: 50%;
        }
        .cardBody {
          .cardTitle {
            height: max-content;
            margin: 0 0 10px 0;
          }
        }
      }
    }
  }
}
